{% extends "/index.html" %}

{% block main_wrapper %}



<div
    style="padding-top:3% !important;padding-bottom:3% !important; background: url('/static/images/bg/analysis_BG.png') fixed 30% 30%;background-size:cover">
    <div style="padding-top:3% !important;">
        <article class="article">
            <h1 id="chooseID" style="margin: 1% 0; color:#f12a2a">1. 總體經濟分析</h1>
            <br>
            <h1 id="chooseID" style="margin: 1% 0; color:steelblue"><a href="analysis_population">2. 人口資料分析</a></h1>
        </article>
    </div>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">利率</h1>
        <!-- <figure style="border-style: solid; width: fit-content ; float: left;"> -->
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <!-- <a title="Capoo-Instagram" href="https://www.instagram.com/bugcat_capoo/"><img class="img0"
                src="image/驕傲1.png"></a> -->
            <img class="img-interestRate" src="static/images/analy/interestRate.png">
            <!-- <figcaption class="txt" style="font-size: large; font-family:fantasy;color:hsl(0, 0%, 3%)">Careful, cause I
            have a sharp knife!</figcaption> -->
        </figure>

        <!-- <p class="pUp">貓貓蟲咖波（英語：Bugcat Capoo），是由台灣漫畫家亞拉所創造出的漫畫角色，其設定為像貓又像蟲（豸）的藍色小怪物，暴力獵奇又萌萌可愛，最愛吃肉。</p>
    <br>
    <p>原先是作者在巴哈姆特電玩資訊站個人小屋連載的自創角色，後於2015年LINE Webtoon漫畫比賽得到短篇冠軍，而在LINE Webtoon進行連載。</p>
    <br>
    <p>2020年3月已於Webtoon完結，現在在粉絲專頁與YouTube網站繼續短篇漫畫與動畫連載。</p>
    <br>
    <br> -->
        <h3 id="articleText">
            <ul>
                <li>由於利率會影響到購屋貸款，購屋貸款屬於家戶長期且穩定的現金支出，故消費者在購屋時必須慎重考慮目前利率水準與其未來可能變化，當利率上升時將使貸款負擔加重,降低家戶的房價負擔能力與購屋意願。</li>
                <li>圖表中可以看到2020年為了應對疫情造成的景氣低迷，而執行低利率的政策為了刺激經濟，但同時也看到低利率有利房市的趨勢。 </li>
            </ul>
        </h3>
        <ul>
            <!-- <li>中性，本作品主角，生日是2014年5月19日(作者設定)，外型頭部像貓身體像蟲的小怪物，毛皮是藍色，背上有三條紋路，平時有六隻腳(有時會依比例拉長而增多)</li> -->
            <!-- <li>卵生，但是父母不詳</li>
            <li>極度喜歡吃肉，身邊活著的任何小動物都會被抓來吃，但絕對不吃蔬菜(但甜甜的水果可以)，一吃就會嘔吐(漫畫表現為吐出彩虹)，似乎對巧克力免疫(貓不能吃巧克力，但咖波除了曾經流點鼻血外卻不受影響。)
            </li>
            <li>被殺蟲劑噴到也會昏迷。</li>
            <li>原本出生時在野外，在一次寒流快被凍死的危機下被女主人拉拉撿回家收養當寵物</li>
            <li>有時不乖或是做壞事蠢事會被女主人拉拉揍</li>
            <li>生氣時會把敵人吃掉（有時還會變大），連機器也能吃</li>
            <li>討厭被讀者稱「藍色的熊」，如果在Line對話中以「藍熊」、「藍色的熊」稱呼咖波，會被咖波以臭青蛙回罵。（來源自FB被《掰掰啾啾》和《Cherng》稱熊或「藍熊」，詳細的在外部連結）</li> -->
        </ul>
        </h2>
    </article>


    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">大盤指數</h1>
        <!-- <figure style="border-style: solid; width: fit-content ; float: left;"> -->
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <!-- <a title="Capoo-Instagram" href="https://www.instagram.com/bugcat_capoo/"><img class="img0"
                src="image/驕傲1.png"></a> -->
            <img class="img-weightIndex" src="static/images/analy/weightIndex.png">
            <!-- <figcaption class="txt" style="font-size: large; font-family:fantasy;color:hsl(0, 0%, 3%)">Careful, cause I
            have a sharp knife!</figcaption> -->
        </figure>

        <!-- <p class="pUp">貓貓蟲咖波（英語：Bugcat Capoo），是由台灣漫畫家亞拉所創造出的漫畫角色，其設定為像貓又像蟲（豸）的藍色小怪物，暴力獵奇又萌萌可愛，最愛吃肉。</p>
    <br>
    <p>原先是作者在巴哈姆特電玩資訊站個人小屋連載的自創角色，後於2015年LINE Webtoon漫畫比賽得到短篇冠軍，而在LINE Webtoon進行連載。</p>
    <br>
    <p>2020年3月已於Webtoon完結，現在在粉絲專頁與YouTube網站繼續短篇漫畫與動畫連載。</p>
    <br>
    <br> -->
        <h3 id="articleText">
            <ul>
                <li>在長期上，大盤指數可視為經濟發展的觀測站之一，股票與房地產市場在不同期間雖然可能存在不同關係,但兩者長期上大致呈現正向魚幫水水幫魚的關係。</li>
                <li>回到我們的圖表，我們可以看到2016總統大選後的房價有短暫的下跌，預估是因為政府三箭房屋改革政策，不過因為成效不彰，加上社會住宅完工數目前也不高，房價之後還是跟著指數一起水漲船高。</li>
            </ul>
        </h3>
        <ul>
            <!-- <li>中性，本作品主角，生日是2014年5月19日(作者設定)，外型頭部像貓身體像蟲的小怪物，毛皮是藍色，背上有三條紋路，平時有六隻腳(有時會依比例拉長而增多)</li> -->
            <!-- <li>卵生，但是父母不詳</li>
            <li>極度喜歡吃肉，身邊活著的任何小動物都會被抓來吃，但絕對不吃蔬菜(但甜甜的水果可以)，一吃就會嘔吐(漫畫表現為吐出彩虹)，似乎對巧克力免疫(貓不能吃巧克力，但咖波除了曾經流點鼻血外卻不受影響。)
            </li>
            <li>被殺蟲劑噴到也會昏迷。</li>
            <li>原本出生時在野外，在一次寒流快被凍死的危機下被女主人拉拉撿回家收養當寵物</li>
            <li>有時不乖或是做壞事蠢事會被女主人拉拉揍</li>
            <li>生氣時會把敵人吃掉（有時還會變大），連機器也能吃</li>
            <li>討厭被讀者稱「藍色的熊」，如果在Line對話中以「藍熊」、「藍色的熊」稱呼咖波，會被咖波以臭青蛙回罵。（來源自FB被《掰掰啾啾》和《Cherng》稱熊或「藍熊」，詳細的在外部連結）</li> -->
        </ul>
        </h2>
    </article>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">貨幣</h1>
        <!-- <figure style="border-style: solid; width: fit-content ; float: left;"> -->
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <!-- <a title="Capoo-Instagram" href="https://www.instagram.com/bugcat_capoo/"><img class="img0"
                src="image/驕傲1.png"></a> -->
            <img class="img-currency" src="static/images/analy/currency.png">
            <!-- <figcaption class="txt" style="font-size: large; font-family:fantasy;color:hsl(0, 0%, 3%)">Careful, cause I
            have a sharp knife!</figcaption> -->
        </figure>

        <!-- <p class="pUp">貓貓蟲咖波（英語：Bugcat Capoo），是由台灣漫畫家亞拉所創造出的漫畫角色，其設定為像貓又像蟲（豸）的藍色小怪物，暴力獵奇又萌萌可愛，最愛吃肉。</p>
    <br>
    <p>原先是作者在巴哈姆特電玩資訊站個人小屋連載的自創角色，後於2015年LINE Webtoon漫畫比賽得到短篇冠軍，而在LINE Webtoon進行連載。</p>
    <br>
    <p>2020年3月已於Webtoon完結，現在在粉絲專頁與YouTube網站繼續短篇漫畫與動畫連載。</p>
    <br>
    <br> -->
        <h3 id="articleText">
            <ul>
                <li>M1B屬於狹義貨幣總計數，其構成項目較具流動性。</li>
                <li>M2屬於廣義貨幣總計數，其構成項目較具穩定性。</li>
                <li>我們把歷年兩種貨幣供應的年增率，拿來比較時，我們可以發現台灣近 10年來，M1B的年增率大於M2的年增率，代表民眾更願意把錢從定存裡，拿出來買東西，而市場上的資金多也是支撐房市熱度的關鍵之一。
                </li>
            </ul>
        </h3>

        <ul>
            <!-- <li>中性，本作品主角，生日是2014年5月19日(作者設定)，外型頭部像貓身體像蟲的小怪物，毛皮是藍色，背上有三條紋路，平時有六隻腳(有時會依比例拉長而增多)</li> -->
            <!-- <li>卵生，但是父母不詳</li>
            <li>極度喜歡吃肉，身邊活著的任何小動物都會被抓來吃，但絕對不吃蔬菜(但甜甜的水果可以)，一吃就會嘔吐(漫畫表現為吐出彩虹)，似乎對巧克力免疫(貓不能吃巧克力，但咖波除了曾經流點鼻血外卻不受影響。)
            </li>
            <li>被殺蟲劑噴到也會昏迷。</li>
            <li>原本出生時在野外，在一次寒流快被凍死的危機下被女主人拉拉撿回家收養當寵物</li>
            <li>有時不乖或是做壞事蠢事會被女主人拉拉揍</li>
            <li>生氣時會把敵人吃掉（有時還會變大），連機器也能吃</li>
            <li>討厭被讀者稱「藍色的熊」，如果在Line對話中以「藍熊」、「藍色的熊」稱呼咖波，會被咖波以臭青蛙回罵。（來源自FB被《掰掰啾啾》和《Cherng》稱熊或「藍熊」，詳細的在外部連結）</li> -->
        </ul>
        </h2>
    </article>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">貸款</h1>
        <!-- <figure style="border-style: solid; width: fit-content ; float: left;"> -->
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <!-- <a title="Capoo-Instagram" href="https://www.instagram.com/bugcat_capoo/"><img class="img0"
                src="image/驕傲1.png"></a> -->
            <img class="img-loan" src="static/images/analy/loan.png">
            <!-- <figcaption class="txt" style="font-size: large; font-family:fantasy;color:hsl(0, 0%, 3%)">Careful, cause I
            have a sharp knife!</figcaption> -->
        </figure>

        <h3 id="articleText">
            <ul>
                <li>購屋貸款可視為判斷房屋需求多寡的重要指標，建築貸款可視為判斷房屋供給多寡的重要指標。</li>
                <li>台灣近10年，對於房屋的需求是遠遠大於供給量的。可能是因為華人有"土斯有財"的觀念導致台灣人很喜歡買房子。</li>
            </ul>
        </h3>

        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <!-- <a title="Capoo-Instagram" href="https://www.instagram.com/bugcat_capoo/"><img class="img0"
                src="image/驕傲1.png"></a> -->
            <img class="img-loan2" src="static/images/analy/loan2.png">
            <!-- <figcaption class="txt" style="font-size: large; font-family:fantasy;color:hsl(0, 0%, 3%)">Careful, cause I
            have a sharp knife!</figcaption> -->
        </figure>

        <h3 id="articleText">
            <ul>
                <li>進一步去察看房屋供給和需求的年增率，可以看出除了2016選舉年提出的房屋政策，再加上另外外部查詢佐證的歷年交易戶數，2016創下近年新低。</li>
                <li>推測因為政策因素使建商觀望一陣子，導致房屋的供給年增率下降。而其他年份的供給增加率都是大於需求的，補足供不應求的狀況。</li>
            </ul>
        </h3>

        <!-- <p class="pUp">貓貓蟲咖波（英語：Bugcat Capoo），是由台灣漫畫家亞拉所創造出的漫畫角色，其設定為像貓又像蟲（豸）的藍色小怪物，暴力獵奇又萌萌可愛，最愛吃肉。</p>
    <br>
    <p>原先是作者在巴哈姆特電玩資訊站個人小屋連載的自創角色，後於2015年LINE Webtoon漫畫比賽得到短篇冠軍，而在LINE Webtoon進行連載。</p>
    <br>
    <p>2020年3月已於Webtoon完結，現在在粉絲專頁與YouTube網站繼續短篇漫畫與動畫連載。</p>
    <br>
    <br> -->
        <!-- <h3>貓貓蟲-咖波 -->
        <ul>
            <!-- <li>中性，本作品主角，生日是2014年5月19日(作者設定)，外型頭部像貓身體像蟲的小怪物，毛皮是藍色，背上有三條紋路，平時有六隻腳(有時會依比例拉長而增多)</li> -->
            <!-- <li>卵生，但是父母不詳</li>
            <li>極度喜歡吃肉，身邊活著的任何小動物都會被抓來吃，但絕對不吃蔬菜(但甜甜的水果可以)，一吃就會嘔吐(漫畫表現為吐出彩虹)，似乎對巧克力免疫(貓不能吃巧克力，但咖波除了曾經流點鼻血外卻不受影響。)
            </li>
            <li>被殺蟲劑噴到也會昏迷。</li>
            <li>原本出生時在野外，在一次寒流快被凍死的危機下被女主人拉拉撿回家收養當寵物</li>
            <li>有時不乖或是做壞事蠢事會被女主人拉拉揍</li>
            <li>生氣時會把敵人吃掉（有時還會變大），連機器也能吃</li>
            <li>討厭被讀者稱「藍色的熊」，如果在Line對話中以「藍熊」、「藍色的熊」稱呼咖波，會被咖波以臭青蛙回罵。（來源自FB被《掰掰啾啾》和《Cherng》稱熊或「藍熊」，詳細的在外部連結）</li> -->
        </ul>
        </h2>
    </article>
</div>



<!-- <div class='tableauPlaceholder' id='viz1652940118412' style='position: relative'><noscript><a href='#'><img
                alt='financial '
                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ni&#47;nice_16529317554640&#47;financial&#47;1_rss.png'
                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='nice_16529317554640&#47;financial' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ni&#47;nice_16529317554640&#47;financial&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en-US' />
    </object></div>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1652940118412');
    var vizElement = divElement.getElementsByTagName('object')[0];
    if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; }
    else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; }
    else { vizElement.style.width = '100%'; vizElement.style.height = '1777px'; }
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script> -->

{% endblock main_wrapper %}



{% block footer %}

<footer class="footer fotsec" id="analysisfoot" style="background-color: hwb(9 46% 7%) ;">
    <div class="container">
        <div class="row1">

        </div>

        <div class="footer-btm pt-4 py-44">
            <div class="row1">
                <div class="col-lg-66" id="">
                    <div class="copyright">
                        Copyright &copy; 2022 <span class="text-color"></span>BDSE24 Team3<a
                            href="https://themefisher.com/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}