{% extends "/index.html" %}

{% block main_wrapper %}
<div
    style="padding-top:3% !important;padding-bottom:3% !important; background: url('/static/images/bg/analysis_BG.png') fixed 30% 30%;background-size:cover">
    <div style="padding-top:3% !important;">
        <article class="article">
            <h1 id="chooseID" style="margin: 1% 0; color:steelblue"><a href="analysis">1. 總體經濟分析</a></h1>
            <br>
            <h1 id="chooseID" style="margin: 1% 0; color: #f12a2a">2. 人口資料分析</h1>
        </article>
    </div>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">台北2013年以來的人口與戶數的變化</h1>
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <img class="img-weightIndex" src="static/images/analy/1.png">
        </figure>
    
        <h3 id="articleText">
           <ul>
               <li>可以發現在2013-2018年以前人口與戶數呈現正關係，在2017年以後台北總人口數開始陡降，2018年戶數開始上升，到了2021年戶數增加了約1500戶，約增加1%；而人口數減少了約6000人，約減少2%。</li>
               <li>我們認為導致這種結果的原因可能有 <br> 1.台北人口結構改變，單身族群可能變多，經濟獨立後便在外買房生活。<br> 2.可能因為有商業行為導致空戶增加。</li>
           </ul> 
        </h3>
    </article>
    
    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">台北2013年~2021年交易之房型占比變化</h1>
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <img class="img-weightIndex" src="static/images/analy/2.png">
        </figure>
    
        <h3 id="articleText">
           <ul>
               <li>單人房:格局為一房一廳一衛之物件 <br>
                家庭房:其他</li>
               <li>2013年至2021年的單人房交易比例沒有增加的趨勢，我們認為戶數的增加與人口結構改變較無相關，也不會影響房市交易。</li>
           </ul> 
        </h3>
    </article>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">2017～2021年戶數增加前三名行政區與交易平均價、交易數量趨勢</h1>
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <img class="img-weightIndex" src="static/images/analy/3.png">
        </figure>
    
        <h3 id="articleText">
           <ul>
               <li>欲探討2017年以後戶數的增加與商業行為間的關聯，我們將戶數增加最多的三個行政區作深入探討。</li>
               <li>價格:在這三區都呈現上升的趨勢</li>
               <li>交易數量:在內湖及文山區都是有上升的趨勢，而大安在2021年交易量有稍微減少，但仍舊維持。</li>
               <li>因此我們認為戶數增加與商業行為較有關聯。</li>
           </ul> 
        </h3>
    </article>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">2013~2021年台北行政區人口數與人口成長數</h1>
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <img class="img-weightIndex" src="static/images/analy/4.png">
        </figure>
    
        <h3 id="articleText">
           <ul>
               <li>藍色:人口成長-正<br>
                橘色:人口成長-負</li>
               <li>除了戶數上升之外，台北區的另一個趨勢是人口數的下降。</li>
               <li>在2017年台北總增加人數已經小於減少人數，形成人口負成長，而2018年後每一行政區呈現負成長。其中到了2021年，人口數減少最多的區域分別為大安、士林。</li>
               <li>為什麼會有這種狀況？我們利用資料發現以下幾個特點在某幾區有特別突出的狀況，可能導致人口留在台北的意願下降。</li>
           </ul> 
        </h3>
    </article>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">遷出人數關係</h1>
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <img class="img-weightIndex" src="static/images/analy/5.png">
        </figure>
    
        <h3 id="articleText">
           <ul>
               <li>左方圖，台北各行政區老屋數量與遷出人數</li>
               <li>右方圖，台北各行政區每坪價格中位數與遷出人數</li>
               <li>台北房屋物件與其他地區不同，台北房屋普遍屋齡老舊、價格也偏高。在這樣的條件下可能使得遷出意願增加，遷移至居住成本更低的蛋白區居住。</li>
           </ul> 
        </h3>
    </article>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">新北總人口前五名之人口數與每坪均價走勢</h1>
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <img class="img-weightIndex" src="static/images/analy/6.png">
        </figure>
    
        <h3 id="articleText">
           <ul>
               <li>由於地緣近台北、交通便利、房價相對低等因素，許多人更偏好住新北，其中板橋、新莊、中和、三重、新店為人口數最高的新北蛋黃區。</li>
               <li>在2013~2021年間，觀察這五區的房價與人口成長趨勢可以看出這五區房價穩定成長，而人口依每年有所波動，但已飽和。兩者間無明顯相關聯。</li>
           </ul> 
        </h3>
    </article>

    <article id="arcl" class="article">
        <h1 id="interestID" style="margin: 1% 0; color:steelblue">新北人口成長前五名之人口數與每坪均價走勢</h1>
        <figure style="border-style: solid; width: fit-content ; margin:2% auto">
            <img class="img-weightIndex" src="static/images/analy/7.png">
        </figure>
    
        <h3 id="articleText">
           <ul>
               <li>在新北蛋黃區也接近飽和後，人口開始流往其他次要地區，我們將之定義為新北蛋白區，分別有:林口、淡水、新莊、汐止以及五股。在這五區中，房價隨著人口成長而穩定上升，每坪均價與人口數有一定的關聯性。</li>
           </ul> 
        </h3>
    </article>




</div>
{% endblock main_wrapper %}



{% block footer %}

<footer class="footer fotsec" style="background-color: hwb(9 46% 7%) ;">
    <div class="container">
        <div class="row1">

        </div>

        <div class="footer-btm pt-4 py-44">
            <div class="row1">
                <div class="col-lg-66" id="">
                    <div class="copyright">
                        Copyright &copy; 2022 <span class="text-color"></span>BDSE24 Team3<a
                            href="https://themefisher.com/" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}